# 板型：CYD 2432S028R（ESP32，2.8" 320x240 ILI9341 SPI + XPT2046 电阻触摸）
CONFIG_BOARD_CYD_2432S028R=y

# Flash 4MB 80MHz QIO，主频 240MHz（CYD 标配 4MB）
CONFIG_ESPTOOLPY_FLASHMODE_QIO=y
CONFIG_ESPTOOLPY_FLASHFREQ_80M=y
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_ESP32_DEFAULT_CPU_FREQ_240=y
